services:
    alfredoramos.simplespoiler.listener:
        class: alfredoramos\simplespoiler\event\listener
        tags:
            - { name: event.listener }

    alfredoramos.simplespoiler.helper:
        class: alfredoramos\simplespoiler\includes\helper
        arguments:
            - '@dbal.conn'
            - '%core.root_path%'
            - '%core.php_ext%'
