@use '../abstracts/variables';

.spoiler {
	&-header {
		background-color: variables.$bg-header;
		color: variables.$fg-header;
	}

	&-status {
		background-color: variables.$bg-status-closed;
	}

	&-status,
	&-status > .icon {
		color: variables.$fg-icon;
	}
}

details {
	&.spoiler {
		background-color: variables.$bg-spoiler;
	}

	&.spoiler,
	.spoiler-header {
		border-color: variables.$br-default;
	}

	&.spoiler[open] > .spoiler-header > .spoiler-status {
		background-color: variables.$bg-status-opened;
	}
}
