/// Background colors
$bg-spoiler: #fff;
$bg-header: #f3f3f3;
$bg-status-closed: #d9534f;
$bg-status-opened: #5cb85c;

/// Border colors
$br-default: #ddd;

/// Foreground colors
$fg-header: #333;
$fg-icon: #fff;
